{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% compress css %}
        <link type="text/x-scss" href="{% static 'stylesheet.scss' %}" rel="stylesheet" />
        {% endcompress %}
        <title>{% block page_title %}{% endblock %} » {{SITE_NAME}}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#"></a>
            </div>
        </nav>

        <div id="main" class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
        {% block extra_javascript %}{% endblock %}
    </body>
</html>
