{% extends "cycles.selfservice/base.html" %}
{% load i18n %}
{% block page_title %}{{object.name}} » {% trans "Update Materials" %}{% endblock %}
{% block content %}
<h1>{{object.name}} » {% trans "Update Materials" %}</h1>

<h2>{% trans "Residues produced" %}</h2>

{% if residues %}
<table class="table table-hover table-data">
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th></th>
    </tr>
    {% for residue in residues %}
        <tr>
            <td><a href="{% url "selfservice-residue-update" company.secret_code residue.pk %}">{{residue.material.name}}</a></td>
            <td><a href="{% url "selfservice-residue-update" company.secret_code residue.pk %}">{{residue.quantity|default:"?"}} {{residue.get_quantity_unit_display|default:""}}</a></td>
            <td><form action="{% url "selfservice-residue-delete" company.secret_code residue.pk %}"><button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-trash"></i> {% trans "Delete" %}</button></form></td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<a href="{% url "selfservice-residue-create" company.secret_code %}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans "Add residue" %}</a>

{% endblock %}
