{% extends "cycles.selfservice/base.html" %}
{% load i18n %}

{% block page_title %}{{company.name}} » {% trans "Delete residue" %}{% endblock %}

{% block content %}
    <h1>{{company.name}} » {% trans "Delete residue" %}</h1>
    <p>
        {% blocktrans trimmed with name=object.material.name %}
        Do you really want to remove the residue "{{name}}"?
        {% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="{% trans "Delete" %}">
        <a href="{% url "selfservice-materials" company.secret_code %}" type="submit" class="btn btn-light">{% trans "Cancel" %}</a>
    </form>
{% endblock %}
