{% extends "cycles.selfservice/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_title %}{{object.name}} » {% trans "Residue" %}{% endblock %}
{% block content %}
<h1>{{object.name}} » {% trans "Residue" %}</h1>

{% crispy form %}

{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static "js/residues.js" %}"></script>
{% endblock %}
