@import "variables";
@import "vendor/bootstrap/scss/bootstrap";
@import "bootswatch";

$fa-font-path: "vendor/fork-awesome/fonts";
@import "vendor/fork-awesome/scss/fork-awesome";

a.navbar-brand {
    background-image: url(logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    width: 100px;
    height: 50px;
}

#main {
    margin-top: 25px;
}

.table-data {
    tr:hover {
        background-color: #eeeeec;
    }

    a {
        display: block;
    }
}

.form-buttons {
    margin-top: 1rem;
}

fieldset {
    margin-top: 1em;
    margin-bottom: 1em;

    legend {
        border-bottom: 1px solid #babdb6;
    }
}

form {
    #div_id_quantity,
    #div_id_quantity_unit,
    #div_id_destination_cost,
    #div_id_destination_cost_unit,
    #div_id_destination_income,
    #div_id_destination_income_unit,
    #div_id_transport_cost,
    #div_id_transport_cost_unit,
    #div_id_frequency,
    #div_id_frequency_unit,
    {
        display: inline-block;
    }
    #div_id_quantity,
    #div_id_quantity_unit,
    #div_id_destination_cost_unit,
    #div_id_destination_income_unit,
    {
        input {
            width: 120px;
        }
    }
    #div_id_destination_cost,
    #div_id_destination_income,
    #div_id_transport_cost,
    #div_id_frequency,
    {
        input {
            width: 150px;
        }
    }
}
