{% extends "admin/change_list.html" %}
{% load i18n %}
{% block content_title %}
<h1>
  {{ title }}
  {% with qs=request.GET.urlencode %}
  (<a href="map/{% if qs %}?{{qs}}{% endif %}">{% trans 'see on map' %}</a>)
  {% endwith %}
</h1>
{% endblock %}
