{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}
<h1>{{ title }}
{% with qs=request.GET.urlencode %}
(<a href="../{% if qs %}?{{qs}}{% endif %}">{% trans "see list" %}</a>)
{% endwith %}
</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label="core" %}">Core</a>
&rsaquo; {% trans 'Companies' %}
</div>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}"/>
{% endblock %}

{% block content %}
<h1>{{original}}</h1>
<div id="map" style='width: 100%; height: 580px'></div>
{% endblock %}


{% block footer %}
<script type="text/javascript" src="{% static "leaflet/leaflet.js" %}"></script>
<script type="text/javascript">

L.Icon.Default.mergeOptions({
    'imagePath': '/static/leaflet/images/'
});

var markers = {}

var markerFields = [
    ['name', '{% trans "Name" %}'],
    ['phone', '{% trans "Phone" %}'],
    ['address', '{% trans "Address" %}']
]

function loadMarkers() {
    var data = JSON.parse(this.response)
    L.geoJSON(data).bindPopup(function(layer) {
        var table = document.createElement('table')
        for (var i in markerFields) {
            f = markerFields[i]

            var tr = document.createElement('tr')

            var label = document.createElement('th')
            label.innerHTML = f[1]
            tr.appendChild(label)

            var content = document.createElement('td')
            content.innerHTML = layer.feature.properties[f[0]]
            tr.appendChild(content)

            table.appendChild(tr)
        }
        var linkRow = document.createElement('tr')
        var link = document.createElement('td')
        link.colSpan = 2
        link.innerHTML = '<a href="/admin/core/company/%d/change/">{% trans "View full record" %}</a>'.replace('%d', layer.feature.properties.pk)
        linkRow.appendChild(link)
        table.appendChild(linkRow)

        return table
    }).addTo(map)
}

function encodeParams(data) {
    return Object.keys(data).map(function(k) {
        return k + '=' + encodeURIComponent(data[k])
    }).join('&')
}

function requestMarkers() {
    var bounds = map.getBounds()
    var params = {}
    var query_string = document.location.search.substring(1)
    if (query_string != "") {
        var vars = query_string.split('&')
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=')
            var key = decodeURIComponent(pair[0])
            var value = decodeURIComponent(pair[1])
            params[key] = value
        }
    }
    params.west = bounds.getWest()
    params.east = bounds.getEast()
    params.south = bounds.getSouth()
    params.north = bounds.getNorth()

    var request = new XMLHttpRequest()
    request.addEventListener('load', loadMarkers)
    request.open("GET", "/admin/core/company/mapdata/?" + encodeParams(params))
    request.send()
}

var origin = [-25.4799487,-49.2919287] // FIXME: Curitiba
var map = L.map('map').setView(origin, 10)

L.tileLayer(
    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?',{
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}
).addTo(map)

requestMarkers()


map.on('moveend', function(ev){
    requestMarkers()
})

</script>
{% endblock %}
