{% extends "admin/change_form.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}"/>
{% endblock %}

{% block content %}
<h1>{{original}}</h1>

<div id="map" style='width: 100%; height: 480px'></div>

{% endblock %}


{% block footer %}
<script type="text/javascript" src="{% static "leaflet/leaflet.js" %}"></script>
<script type="text/javascript">

var company = [{{company.location.y|safe}}, {{company.location.x|safe}}]
var map = L.map('map').setView(company, 8)

L.tileLayer(
    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?',{
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}
).addTo(map)

var companyMarker = L.marker(company).addTo(map)
companyMarker.bindPopup("{{company.name|safe}}")

</script>
{% endblock %}
